

.card {
  background-color: #2a5c5b;
  background-position: 50% 50%;
  float:right;
  width: 500px;
  height: 500px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50%;
  padding-top: 200px;

}

.md-form label {
  color: #ffffff;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}


html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}
